<%= render "layouts/nav" %>
 <div class="container col-md-6 col-md-offset-3">
   <%= bootstrap_form_for(@user) do |f| %><br />


       <section class="container">
    <div class="container-page">        
      <div class="col-md-6">
        <h3 class="dark-grey">Registration</h3>
        
        <div class="form-group col-lg-12">
          <%= f.email_field :email, hide_label: true,  placeholder: "E-mail" %>
        </div>
        
        <div class="form-group col-lg-6">
         <%= f.text_field :first_name, hide_label: true, placeholder: "First Name"  %>
        </div>
        
        <div class="form-group col-lg-6">
         <%= f.text_field :last_name, hide_label: true, placeholder: "Last Name"  %>  
        </div>
                
        <div class="form-group col-lg-6">
          <%= f.text_field :phone, hide_label: true, placeholder: "Phone Number" %>
        </div>
        
        <div class="form-group col-lg-6">
          <%= f.password_field :password, hide_label: true, placeholder: "Create Password" %>
        </div>    

        <div class="form-group col-lg-6">
          <%= f.password_field :password_confirmation, hide_label: true, placeholder: "Password Confirmation" %>
        </div>
        
        <div class="form-group col-lg-6">
         <%= f.text_field :street_address, hide_label: true, placeholder: "Address" %>
        </div> 

        <div class="form-group col-lg-6">
          <%= f.text_field :city, hide_label: true, placeholder: "City" %>
        </div>
        
        <div class="form-group col-lg-6">
          <%= f.text_field :state, hide_label: true, placeholder: "State" %>
        </div>    

        <div class="form-group col-lg-6">
          <%= f.text_field :zip, hide_label: true, placeholder: "Enter Zipcode" %>
        </div>
        
        <div class="form-group col-lg-6">
         <%= f.file_field :avatar, hide_label: true %>
        </div> 
        <div class="form-group col-lg-6 col-md-offset-4">
         <%= f.button class: "btn btn-danger", value: "Create New User" %>
        </div>
            
        <% end %>
      </div>
    </div>
  </section>

</div>


