<div class="container">
  <div class="well">
<h1>Welcome, You Proud Tesla Owner, You</h1> 
  </div>
<p>Find Your Information Below</p>


<h2><%= @user.first_name %><br />
<%= @user.last_name %><br />
<%= @user.email %><br />
<%= @user.phone %><br />
<%= @user.street_address %><br />
<hr />
<%= @weather %>
</h2>
</div>